.world-map {
  width: 100%;
  height: 100%;
  display: block;
}

path {
  stroke: #ffffff;
  stroke-width: 0.5;
  cursor: pointer;
}

path:hover {
  opacity: 0.85;
}

path.selected {
  stroke: #263238;
  stroke-width: 2;
}
